 /* common.css 공통 */

.warp { min-width: 1280px;}

.hidden { visibility: hidden; height: 0; width: 0; font-size:0;}

header { position: fixed; top:0; left: 0; right: 0; z-index: 9999; height: 80px;}

header.ty1 { }

.main { 
	height: 100vh; margin: 0 auto;
}
.main .main_in { 
	position: relative; height: 100vh;
	overflow: hidden;
	/*background: url('../img/bg01.png') no-repeat 0 0;*/
	  width: 100%;
	  text-align: center;
	  background: #2c2d44;
	  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
	  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
	  background-image: linear-gradient(180deg, #3f3251 -60%, #002025 100%);
	margin: 0 auto; 
}
.logo { position: absolute; padding: 55px 0 0 20vw; }
.logo > a { display: block; }

nav {
    position: relative;
	padding-bottom: 12px;
	margin: 2.5vh 0 0 25vw;
}
nav .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #7e4d5d;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
}
nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul li:hover {
  opacity: 0.7;
}
nav ul li.active {
  opacity: 1;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	letter-spacing: 0.2em;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
}

.whale { 
	position:absolute;
	margin-top: 33vh;
    margin-left: -30vw;
}

.text01 { position:absolute; top:70%; left:68%;}
.text01 > p { 
	width: 290px;
	height: 59px;
	font-size:3.5em; 
	color:#fff;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 50px;
	animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.fg_set {height:100vh; position: relative;}

.fg_set .wave_set {
	height:100%; position:absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
}
.fg_set .wave_set .wave {height:100%; position:relative;} 
.fg_set .wave_set .wave > li {
	display:block; width: 90px; height: 90px;	
	background:url('../img/waveset01.png') no-repeat 0 0; 
	background-size:auto 90px; position:absolute
} 
.fg_set .wave_set .wave > li.pos1 {
	background-position:-90px 0; transform: scale(.5);
	top:640px; left:370px; animation:wavescale_s 7s linear infinite;
} 
.fg_set .wave_set .wave > li.pos2 {
	background-position:-90px 0; transform: scale(.7);
	top:500px; left:1000px; animation:wavescale_m 7s linear infinite;
} 
.fg_set .wave_set .wave > li.pos3 {
	background-position:-90px 0; transform: scale(.5);
	top:200px; left:100px; animation:wavescale_s 7s linear infinite;
} 
.fg_set .wave_set .wave > li.pos4 { 
	background-position:0 0; transform: scale(.9);
	top:100px; left:800px; animation:wavescale_m 9s linear infinite;
}
.fg_set .wave_set .wave > li.pos5 { 
	background-position:0 0; transform: scale(.7);
	top:700px; left:630px; animation:wavescale_l 9s linear infinite;
}
.fg_set .wave_set .wave > li.pos6 { 
	background-position:0 0; transform: scale(.5);
	top:380px; left:1415px; animation: wavescale_s 9s linear infinite;
	}

.fg_set .star_set {	height:100%; position:absolute; top: 0; left: 0; right: 0; bottom: 0;}
.fg_set .star_set .star {height:100%; position:relative;} 
.fg_set .star_set .star > li { 
	display: block; width: 50px; height: 50px;
	background: url('../img/starset.png') no-repeat 0 0;
	background-size: auto 50px; position:absolute;
}

.fg_set .star_set .star > li.pos1 { 
	background-position:0 0; top: 380px; left: 240px;
	animation: starmove 5s linear infinite; 
}
.fg_set .star_set .star > li.pos2 {
	background-position:0 0; top: 600px; left: 565px;
	transform: rotate(0) scale(.7); animation: starscale_l 5s linear infinite;  
}
.fg_set .star_set .star > li.pos3 { 
	background-position:0 0; top:315px; left: 1175px;
	transform: rotate(0) scale(.5); animation: starscale_m 5s linear infinite;  
}
.fg_set .star_set .star > li.pos4 { 
	background-position:-50px 0; top: 780px; left: 1195px;
	transform: rotate(0) scale(2); animation: starscale 3s linear infinite;
}
.fg_set .star_set .star > li.pos5 { 
	background-position:-50px 0; top: 220px; left: 1000px;
	transform: rotate(0) scale(2); animation: starscale 3s linear infinite;
}
.fg_set .star_set .star > li.pos6 { 
	background-position:-50px 0; top:770px; left: 300px;
	transform: rotate(0) scale(.7); animation: starscale_l 3s linear infinite;
}
.fg_set .star_set .star > li.pos7 { 
	background-position:-100px 0; top: 200px; left: 1300px;
	transform: rotate(0) scale(.7); animation: starscale_l 7s linear infinite;
}
.fg_set .star_set .star > li.pos8 { 
	background-position:-100px 0; top: 700px; ; left: 1000px;
	transform: rotate(0) scale(.7); animation: starscale_l 7s linear infinite;
}
.fg_set .star_set .star > li.pos9 { 
	background-position:-100px 0; top:175px; left: 495px;
	transform: rotate(0) scale(.7); animation: starscale_l 7s linear infinite;
}


@keyframes wavemove {
	0% { }
	50% { }
	100% {transform:translateX(100px) }
} 
@keyframes wavescale_s {
	0% { }
	50% { }
	100% {transform:translateX(100px) scale(.5)}
} 
@keyframes wavescale_m {
	0% { }
	50% { }
	100% {transform:translateX(100px) scale(.7)}
} 
@keyframes wavescale_l {
	0% { }
	50% { }
	100% {transform:translateX(100px) scale(.9)}
} 

@keyframes starmove{ 
	0% { }
	50% { }
	100% { transform: rotate(360deg) }
}

@keyframes starscale{ 
	0% { }
	50% { }
	100% { transform: rotate(360deg) scale(2) }
}

@keyframes starscale_s{ 
	0% { }
	50% { }
	100% { transform: rotate(360deg) scale(.3) }
}

@keyframes starscale_m{ 
	0% { }
	50% { }
	100% { transform: rotate(360deg) scale(.5) }
}
	
@keyframes starscale_l{ 
	0% { }
	50% { }
	100% { transform: rotate(360deg) scale(.7) }
}

/*    프로필      */
.porfile { 
	position: relative; height: 100vh;
	overflow: hidden; padding-top: 23vh;
	/*background: url('../img/bg01.png') no-repeat 0 0;*/
	  width: 100%;
	 background: #2c2d44;
	background-image: -webkit-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: -o-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: linear-gradient(0deg, #3f3251 -80%, #002025 100%);
	margin: 0 auto;
	
}

.porfile { 
	min-width: 1430px;
	position: relative;
    margin: 0 auto;
}
.profile_set {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-right: 20vw;
    padding-left: 25vw;
    height: 65vh;

}

.porfile .profile_set .pro_box.left { 
	letter-spacing: -1px;
    width: 100%;
    flex: 1 0 28em;
    max-width: 17vw;
	padding-top: 20vh;
}
.porfile .profile_set .pro_box.left  > p { 
	font-family: 'Noto Sans KR', sans-serif;
	color: #fff;
}

.porfile .profile_set .pro_box.left  > p:nth-child(1) { 
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 14px;
	
}
.porfile .profile_set .pro_box.left  > p:nth-child(2){
	font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
     padding-left: 10px;
}
.porfile .profile_set .pro_box.left  > p:nth-child(3){
	font-size: 18px;
	font-weight: 200;
	
	padding-left: 10px;
}


.profile_set .pro_box.right {
	width: 100%;
    max-width: 36vw;
    padding-top: 9vh;
}
.profile_set .pro_box.right .menu_box { 
	width: 100%;
    max-width: 25vw;
    margin-bottom: 2vw;
}


@keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-moz-keyframes bar-fill {
  0% {
    width: 0;
  }
}
@-o-keyframes bar-fill {
  0% {
    width: 0;
  }
}
.bar-graph {
    list-style: none;
    width: 45%;
	float: left;
}
.bar-graph.t2 { 
	margin-left: 1vw;
}
.bar-graph h3 { 
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	padding-top: 1vh;
}
.bar-graph li:nth-child(1) { 
	 padding-bottom: 2vh;
}
.bar-wrap {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(126, 77, 93, 0.2);
  border: 1px solid rgba(126, 77, 93, 0.8);
  margin-bottom: 22px;
}

.bar-fill.on {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-animation: bar-fill 6s;
  -webkit-animation: bar-fill 6s;
  -ms-animation: bar-fill 6s;
  animation: bar-fill 6s;
  background-color: #7e4d5d;
  display: block;
  height: 15px;
  width: 0px;
}

.bar-graph > li > p { 
	font-family:kozuka-gothic-pr6n, sans-serif;
	font-size: 18px;
	color: #fff;
	padding-bottom: 10px;
	letter-spacing: -1px;
}


/*    프로필     */


/*    포트폴리오      */

.portfolio { 
	position: relative; height: 100vh;
	overflow: hidden; padding-top: 12vh;
	/*background: url('../img/bg01.png') no-repeat 0 0;*/
	  width: 100%;
	 background: #2c2d44;
	background-image: -webkit-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: -o-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: linear-gradient(0deg, #3f3251 -80%, #002025 100%);
	margin: 0 auto;
}

.portfolio.sub2 { 
	background-image: -webkit-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: -o-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: linear-gradient(180deg, #3f3251 -80%, #002025 100%);

}

.portfolio .inner { 
    display: flex;
    vertical-align: middle;
    height: 100vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
.portfolio .inner .por_in.left { 
    width: 600px;
    margin: auto;
    padding-left: 10vw;
	 padding-top: 7vh;
}
.portfolio .inner .por_in.right { 
    flex: 1;
    position: relative;
    margin-top: 16vh;
    margin-left: 6vw;
    height: 100vh;
    overflow: hidden;
   
	
}
.portfolio .inner .por_in.right .img { 
	display: inline-block
}
.portfolio .inner .por_in.right .img > img { 
    object-fit: contain;
    display: inline-block;
    width: 85%;
    border-radius: 5px;
}


.portfolio .inner .por_in.left .title { 
	
}
.portfolio .inner .por_in.left .title > ul { }
.portfolio .inner .por_in.left .title > ul > li { }
.portfolio .inner .por_in .title > ul > li > h4 { 
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 50px;
	line-height: 1.2;
}
.portfolio .inner .por_in .title > ul > li > p { 
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 16px;
	padding-left: 3px;
}
.portfolio .inner .por_in .title > ul > li:nth-child(3) {
	padding-top: 2vh;
}
.portfolio .inner .por_in .title > ul > li:nth-child(4) {
	padding-top: 1vh;
}


/*    포트폴리오      */
/*     버튼호버*/

.button {
	position: relative;
    display: inline-block;
    margin: 65px 0 0 0px;
    min-width: 150px;
    height: 45px;
    line-height: 42px;
    padding: 0 1rem;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1em;
    background: transparent;
    border: 1px solid;
    outline: none;
    overflow: hidden;
  -webkit-transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
  transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}
.button.primary {
  color: #fff;
}
.btn_set .info { 
	padding-right: 30px
}

.button::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -25px;
  width: 10px;
  height: 65px;
  background: white;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  opacity: .25;
}
.button:hover, .button:focus {
  color: #222;
}
.button:hover::before, .button:focus::before {
  left: calc(100% + 15px);
  top: 10px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button:hover.primary, .button:focus.primary {
  background: #7e4d5d;
}
/*********아트********/

.artworks { 
	position: relative; height: 100vh;
	overflow: hidden; padding-top: 12vh;
	/*background: url('../img/bg01.png') no-repeat 0 0;*/
	  width: 100%;
	 background: #2c2d44;
	background-image: -webkit-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: -o-linear-gradient(bottom, #3f3251 -40%, #002025 100%);
	background-image: linear-gradient(180deg, #3f3251 -80%, #002025 100%);
	margin: 0 auto;
}

.container {
  margin: auto;
  padding: 1.8rem 1rem;
  max-width: 71.25rem;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.grid > [class*=column-] {
  display: block;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

.align-top {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: end;
}



.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  
}
@media (min-width: 62rem) {


  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column-xs-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  .column-xs-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  .column-xs-3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
  }

  .column-xs-4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .column-xs-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7;
  }

  .column-xs-8 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .column-xs-9 {
    grid-column-start: span 9;
    grid-column-end: span 9;
  }

  .column-xs-10 {
    grid-column-start: span 10;
    grid-column-end: span 10;
  }
  .column-xs-11 {
	grid-column-start: span 11;
    grid-column-end: span 11;
  }
  .column-xs-12 {
	grid-column-start: span 12;
    grid-column-end: span 12;
  }

  @media (min-width: 48rem) {
    .column-sm-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-sm-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-sm-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-sm-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-sm-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-sm-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-sm-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-sm-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-sm-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-sm-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-sm-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-sm-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 62rem) {
    .column-md-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-md-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-md-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-md-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-md-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-md-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-md-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 75rem) {
    .column-lg-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-lg-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-lg-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-lg-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-lg-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-lg-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-lg-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-lg-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-lg-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-lg-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-lg-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-lg-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}
.intro .title {
  display: inline-block;
  font-size: 2rem;
font-weight: 600;
    line-height: .8;
    color: #7e4d5d;
    font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -4px;

}

.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
  display: none;
}
.slider-item.active {
  display: block;
}
.slider-item.active .hide-mobile {
  display: none;
}
.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
	z-index: 100;
}

.controls {
  position: relative;
  z-index: 1;
  display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.controls .icon.arrow-left::before {
    content: "";
    position: absolute;
    right: 8px;
        top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid 3px currentColor;
    border-right: solid 3px currentColor;
  transform: rotate(-135deg);
}
.controls .icon.arrow-right::before {
    content: "";
    position: absolute;
    right: -1px;
        top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid 3px currentColor;
    border-right: solid 3px currentColor;
  transform: rotate(45deg);
}

.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #fff;
}
.previous:hover .icon, .next:hover .icon {
  transform: scale(1.5); color: #7e4d5d;
}
.previous .icon, .next .icon {
  transition: transform 0.4s ease;
}

.active .image-holder::before {
  position: absolute;
  content: "";
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.9;
}
.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
}


  .intro {
    animation: fadeInLeft 0.6s 0.3s ease forwards;
  }
  .intro .title {
    font-size: 4rem;
    padding: 2.2rem 2.2rem 2.2rem 2.2rem;
    background: #fff;
	 border-radius: 5px;
	 box-shadow: -5px 9px 20px rgb(0 0 0 / 19%), -5px 5px 6px rgb(0 0 0 / 23%);
  }

 .image-holder > img {
    height: 70vh;
    width: 80%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 20px;
	 box-shadow: 10px 13px 15px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }
	.image-holder.ty4 > img { 
	object-fit: fill;
	}

  .description {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
  }

  .previous, .next {
    flex-basis: 13%;
  }

  .slider-item.active .hide-mobile {
    display: block;
  }

  .slider-item.active .show-mobile {
    display: none;
  }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
	width: 1px;}


	
	
	
/*********아트********/




#lypop {position:fixed; top:0; left:0; width:100%; height: 100vh;  z-index: 9999; display: none}

#lypop .inner {position:absolute; width:800px; height:96vh; top:50%; left:50%; margin:-48vh 0 0 -400px; z-index: 100; border:1px solid #000;}
#lypop .lypopcont {overflow: auto; height:100%; overflow-x:hidden;}
#lypop .inner .closebtn { 
position:absolute; top:0; right:-60px;
display:block; width:30px; height:30px; background:#7e4d5d;
}

#lypop .inner .closebtn .arrset {display: block; width:30px; height: 30px; position:absolute; top:0; left: 0; right:0; bottom:0; margin:auto;}
#lypop .inner .closebtn .arrset span {display:block; width:30px; height:2px; background:#fff; }
#lypop .inner .closebtn .arrset span + span {margin-top:10px}
#lypop .inner .closebtn .arrset span:nth-child(1) {transform: translateY(13px) rotate(45deg)}
#lypop .inner .closebtn .arrset span:nth-child(2) {transform: translateY(1px) rotate(-45deg)}


#lypop .lypopcont .simg {}
#lypop .bg {position:absolute; top:0; left:0; width:100%; height: 100vh; background:rgba(0,0,0,0);}

#lypop.on {display:block}
#lypop.on .bg {/* background:rgba(0,0,0,.7) */animation: bgani .5s linear 1; background:rgba(0,0,0,.3) }


@keyframes bgani { 
	0% {background:rgba(0,0,0,0)}
	50% {}
	100% {background:rgba(0,0,0,.3)}
}
.titset .hd3 {float: left; padding-top: 40px; font-size:18px; }






